[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ubuntu/Desktop/Google Chrome.desktop]
row=3
col=0

[/home/ubuntu/Desktop/Firefox Web Browser.desktop]
row=2
col=0

[/home/ubuntu/Desktop/Eclipse.desktop]
row=1
col=0

[/home/ubuntu]
row=0
col=0

